<h1>Music App</h1>
<h2>Log In</h2>

<form action="<%= session_url %>"  method = POST>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="email">Email:</label>
    <input type="text" id="email" name="user[email]" value="">
    <br>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="user[password]"value="">
    <br>
    <br>
    <input type="submit" value="Log In">

</form>

