/* PHASE 2: Navigation */

.header-logo {
    float: left;
    font-weight: bold;
    border-right: 2px solid #eee;
}

.header-logo:hover {
    background: black;
}

.header-list {
    float: right;
}

.header-list > li {
    float: left;
    border-left: 2px solid #eee;

}

.header-list > li:hover {
    background: black;
}