/* PHASE 3: Content */

.content {
    background: white;
    width: 900px;
    margin: auto;
}

.content-sidebar {
    width: 220px;
    float: left;
    padding: 10px;
    margin: auto;

}

.content-main {
    width: 640px;
    float: left;
    padding: 10px;
    margin: auto;

}

.content h1 {
    font-size: 24px;
    font-weight: normal;
}

.content p {
    font-size: 16px;
    font-weight: normal;
}