/* PHASE 4: Footer */

.footer {
    width: 1000px;
    color: gray;
    font-size: 14px;

}

.footer-copy {
    float: left; 
    margin: auto;

}

.footer-links {
    float: right; 
    margin: auto;

}

.footer-links > li {
    float: left;
    

}

.footer a {

}

.footer a:hover {

}
